{% extends 'base.html.twig' %}

{% block title %}Edit Gnm{% endblock %}

{% block body %}
    <h1>Edit Gnm</h1>

    {{ include('gnm/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gnm_index') }}">back to list</a>

    {{ include('gnm/_delete_form.html.twig') }}
{% endblock %}
