{% extends 'base.html.twig' %}

{% block title %}New Gnm{% endblock %}

{% block body %}
    <h1>Create new Gnm</h1>

    {{ include('gnm/_form.html.twig') }}

    <a href="{{ path('app_gnm_index') }}">back to list</a>
{% endblock %}
