{% extends 'baseAdmin.html.twig' %}

{% block body %}

	<!-- Container Fluid-->
	<div class="container-fluid" id="container-wrapper">
		<div class="d-sm-flex align-items-center justify-content-between mb-4 py-3">
			<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
			<ol class="breadcrumb m-0 py-0">
				<li class="breadcrumb-item">
					<a href="dashboard.html">Dashboard</a>
				</li>
			</ol>
		</div>

		<div class="row mb-3">
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card h-100">
					<div class="card-body">
						<div class="row align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-uppercase mb-1">
									Active Customers
								</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">
									261
								</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-user fa-2x text-success"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card h-100">
					<div class="card-body">
						<div class="row align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-uppercase mb-1">
									Blocked Customers
								</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">
									0
								</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-user fa-2x text-danger"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card h-100">
					<div class="card-body">
						<div class="row align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-uppercase mb-1">
									Total Blogs
								</div>
								<div class="h6 mb-0 mt-2 font-weight-bold text-gray-800">
									3
								</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-fw fa-newspaper fa-2x text-success"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card h-100">
					<div class="card-body">
						<div class="row align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-uppercase mb-1">
									Total Deposits
								</div>
								<div class="h6 mb-0 mt-2 font-weight-bold text-gray-800">
									617
								</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-dollar-sign fa-2x text-success"></i>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>

		<div class="row mb-3">
			<div class="col-xl-12 col-lg-12 mb-4">
				<div class="card">
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">
							Recent Joined Users
						</h6>
					</div>

					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead class="thead-light">
								<tr>
									<th>Serial No</th>
									<th>Name</th>
									<th>Email</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td data-label="Serial No">1</td>
									<td data-label="Name">Teste</td>
									<td data-label="Email">godjucakills@gmail.com</td>
									<td data-label="Status">
										<span class="badge badge-success">activated</span>
									</td>
									<td data-label="Action">
										<a href="https://product.geniusocean.com/genius-bank/admin/user/338/show" class="btn btn-sm btn-primary">Detail</a>
									</td>
								</tr>

								<tr>
									<td data-label="Serial No">2</td>
									<td data-label="Name">Fat</td>
									<td data-label="Email">oes70635@nezid.com</td>
									<td data-label="Status">
										<span class="badge badge-success">activated</span>
									</td>
									<td data-label="Action">
										<a href="https://product.geniusocean.com/genius-bank/admin/user/337/show" class="btn btn-sm btn-primary">Detail</a>
									</td>
								</tr>

								<tr>
									<td data-label="Serial No">3</td>
									<td data-label="Name">Jackson</td>
									<td data-label="Email">jerryhousedesign@gmail.com</td>
									<td data-label="Status">
										<span class="badge badge-success">activated</span>
									</td>
									<td data-label="Action">
										<a href="https://product.geniusocean.com/genius-bank/admin/user/336/show" class="btn btn-sm btn-primary">Detail</a>
									</td>
								</tr>

								<tr>
									<td data-label="Serial No">4</td>
									<td data-label="Name">matt morr</td>
									<td data-label="Email">matt.morrison909@gmail.com</td>
									<td data-label="Status">
										<span class="badge badge-success">activated</span>
									</td>
									<td data-label="Action">
										<a href="https://product.geniusocean.com/genius-bank/admin/user/335/show" class="btn btn-sm btn-primary">Detail</a>
									</td>
								</tr>

								<tr>
									<td data-label="Serial No">5</td>
									<td data-label="Name">deepak</td>
									<td data-label="Email">chavandeepak182@gmail.com</td>
									<td data-label="Status">
										<span class="badge badge-success">activated</span>
									</td>
									<td data-label="Action">
										<a href="https://product.geniusocean.com/genius-bank/admin/user/334/show" class="btn btn-sm btn-primary">Detail</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="card-footer"></div>
				</div>
			</div>
		</div>
	</div>
	<!---Container Fluid-->

{% endblock %}
