{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit AgentMer
{% endblock %}

{% block body %}
	<h1>Edit AgentMer</h1>

	{{ include('agent_mer/_form.html.twig', {'button_label': 'Update'}) }}


	{{ include('agent_mer/_delete_form.html.twig') }}
{% endblock %}
