{% extends 'base.html.twig' %}

{% block title %}New AgentMer{% endblock %}

{% block body %}
    <h1>Create new AgentMer</h1>

    {{ include('agent_mer/_form.html.twig') }}

    <a href="{{ path('app_agent_mer_index') }}">back to list</a>
{% endblock %}
